select {
  /* set to display: block on mobile */
  display: none;
}

template {
  /* just in case older browsers don't understand <template> */
  display: none;
}

form p {
  hyphens: none;
}

form .warning {
  padding: 0.5rem;
  border: 1px solid var(--purple);
}

form .warning strong {
  color: var(--purple);
}

.radio-list-dark-container .select-radio-list {
  background: var(--purple-dark);
  color: var(--purple-white);

  padding: 0.4rem 1rem;
  margin-bottom: 1rem;
}

.select-radio-list input {
  display: block;
  visibility: hidden;
  width: 0;
  height: 0;
}

.select-radio-list label {
  display: block;
  cursor: pointer;
  padding: 0 0 0 2.2rem;
  overflow: hidden;
  position: relative;
  line-height: 2.3rem;
}

.radio-list-dark-container label {
  line-height: 3rem;
}

.select-radio-list label:before {
  box-sizing: border-box;
  content: " ";
  display: block;
  position: absolute;
  top: 50%;
  left: 0.2rem;
  width: 1.3rem;
  height: 1.3rem;
  transform: translate(0, -50%);
  border: 2px solid var(--purple-dark);
  background: var(--purple-white);
  transition: background 0.3s ease-out;
}

.radio-list-dark-container label:before {
  border: 2px solid var(--purple-white);
  background: var(--purple-dark);
}

.select-radio-list input:checked + label {
  font-weight: bold;
}

.select-radio-list input:checked + label:before {
  background: var(--purple-dark);
}

.radio-list-dark-container .select-radio-list input:checked + label:before {
  background: var(--purple-white);
}

.select-radio-list input:disabled + label {
  color: #666;
  text-decoration: line-through;
}

.select-radio-list input:disabled + label:before {
  border-color: #ddd;
  background: var(--purple-white);
}

/* .select-radio-list label:not(:last-child) { */
  /* border-bottom: 1px solid var(--purple-dark); */
/* } */

.radio-list-dark-container .select-radio-list label:not(:last-child) {
  border-bottom: 1px solid var(--purple-white);
}

.select-radio-list .tag {
  display: inline-block;
  margin: 0 1rem;
  line-height: 2rem;
  padding: 0 0.5rem;
  background: var(--purple-white);
  color: var(--purple-dark);
  font-weight: bold;
}

.appear-expand-height {
  overflow: hidden;
}

.enable-appear-transitions .appear-expand-height {
  max-height: 0;

  transition: max-height 0.3s ease-out;
}

@media (prefers-reduced-motion) {
  .enable-appear-transitions .appear-expand-height {
    transition: none;
  }
}

fieldset {
  appearance: none;
  margin: 0;
  padding: 0;
  border: none;
}

fieldset:not(:first-child) {
  margin-top: 2rem;
}

.field-header {
  display: block;
  margin: 1rem 0;

  font-size: 1.3rem;
  font-weight: bold;
  line-height: 1.4rem;
}

.fieldset-question {
  display: block;
  font-weight: bold;
  margin-top: 1.5rem;
}

.fieldset-question + p {
  margin-top: 0.5rem;
}

.appear-expand-height > fieldset {
  margin-top: 0;
}

.field-header + p {
  margin-top: 0;
}

textarea {
  width: 100%;
  resize: none;
  padding: 1rem;
  border: 2px solid var(--purple);
  border-radius: 5px;
  outline: none;
  color: var(--purple-dark);
}

input + .field-header {
  margin-top: 2rem;
}

input[type="text"] {
  width: 100%;
  display: block;
  border: 2px solid transparent;
  border-bottom: 2px solid var(--purple);
  padding: 0.5rem;
}

input[type="text"]:focus,
input[type="number"]:focus {
  outline: none;
  border-color: var(--pink);
}

.number-input-wrapper {
  display: flex;
  align-items: center;
  width: 100%;
  overflow: hidden;
}

.number-input-wrapper label {
  flex: 1 0 auto;
  max-width: 10rem;
  font-size: 1.1rem;
  padding: 0.5rem 0;
}

input[type="number"] {
  display: block;
  flex: 0 0 auto;
  font-size: 1.4rem;
  padding: 0.3rem 0.3rem 0.3rem 0.6rem;
  border: 2px solid transparent;
  border-bottom: 2px solid var(--purple);
  margin-right: 1rem;

  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;

  transform: scale(1);
  transform-origin: 50% 50%;
}

label + input[type="number"] {
  font-size: 1.1rem;
}

input[type="number"].changed {
  animation: 0.2s ease-out reverse bump;
}

@keyframes bump {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.number-step {
  --size: 2.3rem;

  flex: 0 0 var(--size);
  height: var(--size);
  margin: 0 0.3rem;
  padding: 0;
  border-radius: 50%;

  overflow: hidden;
  appearance: none;
  cursor: pointer;
  border: none;
  background: var(--purple);

  position: relative;
  transform-origin: 50% 50%;
  transform: scale(1);
  transition: transform 0.1s ease-out;
}

.number-step:hover {
  transform: scale(1.1);
}

label ~ .number-step {
  --size: 1.9rem;
}

.number-step:focus-visible {
  border: 2px solid var(--purple-white);
  outline: 2px solid var(--purple);
}

.number-step-add:after,
.number-step:before {
  content: " ";
  display: block;
  background-color: var(--purple-white);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.number-step:before {
  height: 0.2rem;
  width: 1rem;
}

.number-step-add:after {
  height: 1rem;
  width: 0.2rem;
}

input[type="number"]:disabled {
  background: initial;
  color: initial;
}

input[type="number"]:disabled ~ .number-step {
  display: none;
}

fieldset.space-top {
  margin-top: 1.5rem;
}

@media only screen and (max-width: 62rem) {
  select {
    display: block;

    width: 100%;
    padding: 0.5rem;
  }

  .select-radio-list {
    display: none;
  }
}
