select {
  /* set to display: block on mobile */
  display: none;
}

template {
  /* just in case older browsers don't understand <template> */
  display: none;
}

form p {
  hyphens: none;
}

form .warning {
  padding: 0.5rem;
  border: 1px solid var(--purple-dark);
}

.select-radio-list {
  background: var(--purple-dark);
  color: var(--purple-white);

  padding: 1rem 1.5rem;
  margin: 1rem 0 0 0;
}

.select-radio-list input {
  display: block;
  visibility: hidden;
  width: 0;
  height: 0;
}

.select-radio-list label {
  display: block;
  cursor: pointer;
  padding: 0 0 0 2.5rem;
  overflow: hidden;
  position: relative;
  line-height: 3rem;
}

.select-radio-list label:before {
  content: " ";
  display: block;
  position: absolute;
  top: 50%;
  left: 0.5rem;
  width: 1rem;
  height: 1rem;
  transform: translate(0, -50%);
  border: 2px solid var(--purple-white);
  background: var(--purple-dark);
  transition: background 0.3s ease-out;
}

.select-radio-list input:checked + label {
  font-weight: bold;
}

.select-radio-list input:checked + label:before {
  background: var(--purple-white);
}

.select-radio-list label:not(:last-child) {
  border-bottom: 1px solid var(--purple-white);
}

.select-radio-list .tag {
  display: inline-block;
  margin: 0 1rem;
  line-height: 2rem;
  padding: 0 0.5rem;
  background: var(--purple-white);
  color: var(--purple-dark);
  font-weight: bold;
}

.transition-height {
  overflow: hidden;
  max-height: 0;

  transition: max-height 0.3s ease-out;
}

fieldset {
  appearance: none;
  margin: 2rem 0 0 0;
  padding: 0;
  border: none;
}

legend {
  font-size: 1.3rem;
  line-height: 1.4rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

@media only screen and (max-width: 62rem) {
  select {
    display: block;

    width: 100%;
    padding: 0.5rem;
  }

  .select-radio-list {
    display: none;
  }
}
