* {
	box-sizing: border-box;
	-moz-osx-font-smoothing: grayscale;

}

body {
	background-color: var(--red-white-bg);
	font-family: var(--libre-franklin-stack);
	color: var(--red-dark);
	font-size: 18px;
	line-height: 1.6;
	margin-bottom: 4rem;
}
::selection {
	color: var(--red-white);
	background-color: var(--red-accent);
}

.row {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.container {
	width: 100%;
	max-width: 40rem;
	margin-right: 1rem;
	margin-left: 1rem;
}
.container-wide {
	width: 100%;
	max-width: 50rem;
	margin-right: 1rem;
	margin-left: 1rem;
}

h1 {
	font-family: 'Syne';
	color: var(--red-accent);
}
h1:before {
	content: '';
	background: url('../img/logo-icon.png');
	background-size: 8rem;
	width: 8rem;
	height: 8rem;
	display: block;
	margin-left: -1rem;
	margin-bottom: 1rem;
}

h1, h2, h3, h4, h5, h6 {
	line-height: 1.4;
}

h3 {
	margin-top: 2rem;
	margin-bottom: .3rem;
}
h3 ~ p {
	margin-top: 0;
}

p {
	text-align: justify;
	hyphens: auto;
	margin-bottom: 1rem;
}

div.call {
	background: var(--red-regular);
	padding: .5rem 0rem;
	color: var(--red-white);
	margin-bottom: 2rem;
}
p.call {
	text-align: center;
	max-width: 26rem;
	margin: 0 auto;
	font-weight: bold;
}


a {
	color: inherit;
	text-decoration: none;
	border-bottom: 2px solid var(--red-regular);
}
a.button {
	display: block;
	border: 3px solid var(--red-regular);
	color: var(--red-accent);
	font-weight: bold;
	margin: 0 auto;
	max-width: 28rem;
	margin-bottom: 2rem;
	margin-top: 2rem;
	border-radius: 10px;
	padding: 1rem;
	text-align: center;
}
a.button:hover {
	background: var(--red-regular);
	color: var(--red-white);
}
a.button:first-of-type {
	margin-top: 3rem;
}

img {
	max-width: 100%;
}
img#logo {
	margin-top: 2rem;
	max-width: 130%;
	margin-left: -26%;
}
@media (max-width: 70rem) {
	img#logo {
		max-width: 100%;
		margin-left: initial;
	}
}
img#ingang {
	display: block;
	margin: 2rem auto;
	max-height: 80vh;
}


hr {
	max-width: 20rem;
	height: 3px;
	border: none;
	background: var(--red-light);
	margin-top: 4rem;
	margin-bottom: 4rem;
}

span.attention {
	font-weight: bold;
	color: var(--red-accent);
}

iframe {
	width: 100%;
	display: block;
	height: 90vh;
	margin-top: 2rem;
	background: var(--red-light);
	padding-top: 2rem;
	padding-bottom: 2rem;

}

.no-hyphen {
	hyphens: none;
}

li {
	margin-bottom: .7rem;
	text-align: justify;
	hyphens: auto;
	width: 95%;
	padding-left: .7rem;
}
ul, ol {
	margin-top: .7rem;
}
li ul,
li ol {
	margin-top: .7rem;
}

p + ul,
p + ol {
	margin-top: -1.5rem;
}

.row.purple {
	background: var(--purple-regular);
	color: var(--purple-white);
}





body.purple {
	background-color: var(--purple-white-bg);
	color: var(--purple-dark);
}
::selection {
	color: var(--purple-white);
	background-color: var(--purple-accent);
}

.purple h1 {
	color: var(--red-purple);
}
.purple h1:before {
	background-image: url('../img/logo-icon-purple.png');
}

.purple div.call {
	background: var(--purple-regular);
	color: var(--purple-white);
}

.purple a {
	border-bottom: 2px solid var(--purple-regular);
}
.row.purple a {
	border-bottom: 2px solid var(--purple-white);
}
.purple a.button {
	border: 3px solid var(--purple-regular);
	color: var(--purple-accent);
}
.purple a.button:hover {
	background: var(--purple-regular);
	color: var(--purple-white);
}


.purple hr {
	background: var(--purple-light);
}

.purple span.attention {
	color: var(--purple-accent);
}

.purple iframe {
	background: var(--purple-light);
}

.agenda {
	background: var(--purple-dark);
	color: var(--purple-white);
	padding: 2rem 2rem;
	margin-top: 3rem;
}
.agenda .event {
	/*font-weight: bold;*/
	margin-bottom: .7rem;
	display: flex;
	width: 100%;
}
.event .event-desc {
	text-align: left;
	flex-grow: 1;
}
.event .event-details {
	flex-shrink: 0;
	margin-left: 1rem;
	display: flex;
}
.event .event-time {
	color: var(--purple-light);
	margin-top: auto;
}
.event .event-fb {
	border-bottom: none;
	margin-top: auto;
}
.event .event-fb:before {
	content: '';
	background: url("../img/facebook.png") no-repeat;
	background-size: cover;
	width: 1.2em;
	height: 1.2em;
	margin-bottom: .2rem;
	display: block;
	margin-right: .7rem;
	text-decoration: none;
}
.event .event-fb:hover:before {
	background-image: url("../img/facebook-white.png");
}
.agenda h3 {
	color: var(--purple-light);
	font-size: 2rem;
	font-weight: bold;
	margin-top: 0;
}
.agenda h4 {
	border-top: 3px solid var(--purple-light);
	padding-top: 1rem;
	margin-bottom: .7rem;
}