---
title: TestTafel - Reservation form
layout: default
language: en
translation: ../testtafel/reserveren
backlink: /en/testtafel
scripts:
- reservation-form
stylesheets:
- reservation-form
permalink: :path/:basename
---

<div class="row">
  <div class="container">
    <h1>Reservation for TestTafel</h1>

    <form id="reservation-form">
      <input type="hidden" name="lang" value="en" />
      <fieldset>
        <legend class="form-step-header">Choose a date</legend>
        <select class="boxed" data-input-controller="SelectRadioList" name="date">
          {% for event in site.data.testtafels %}
          {% comment %}
          68400 = 19 hours (for 19:00 start time)
          {% endcomment %}
          {% assign unix_event = event.date | date: "%s" | plus: 68400 %}
          {% assign unix_now = "now" | date: "%s" | times: 1 %}

          {% if unix_event > unix_now %}

          {% assign special = site.data["testtafel-specials"][event.date] %}

          <option value="{{ event.date }}" {% if special %} data-special="{{ special.name }}"
            data-special-description="{{ special.description.en }}" {% endif %}{% if event.fullyBooked %}
            data-fully-booked data-tag="fully booked" {% else %} data-allow-default{% endif %}>
            {{ event.date | date: "%A, %B %e" }}
          </option>
          {% endif %}
          {% endfor %}
        </select>
      </fieldset>

      <template data-template-id="special-description">
        <section class="special-description">
          <h4></h4>
          <p></p>
        </section>
      </template>

      <div data-field-feedback-for="date">
      </div>

      <template data-template-id="fully-booked">
        <p class="warning">
          <strong>Please note:</strong>
          This date has been fully booked. You can still place a reservation, which will be added to our waiting list.
          We
          will message you if others cancel and a spot becomes available.
        </p>
      </template>

      <fieldset class="align-left">
        <legend class="form-step-header">Opening time</legend>
        <p>
          TestTafel opens at 19:00. We kindly ask you to arrive <strong>between 19:00 and 19:15</strong>.
          If you really cannot make that time, please get in touch with us at <a
            href="mailto:testtafel@desering.org">testtafel@desering.org</a> after you book a reservation to discuss
          alternative starting times.
        </p>
      </fieldset>

      <label class="form-step-header" for="input-reservation-name">
        Under which name would you like to place a reservation?
      </label>

      <input id="input-reservation-name" name="reservation-name" placeholder="Naam" required type="text"
        maxlength="200">

      <div data-field-feedback-for="reservation-name"></div>

      <label class="form-step-header" for="input-reservation-amount">
        For how many people would you like to reserve?
      </label>

      <div class="number-with-steppers-wrapper">
        <input data-input-controller="NumberWithSteppers" id="input-reservation-amount" max="20" min="1"
          name="reservation-amount" required size="3" step="1" type="number" value="1">
      </div>

      <div data-field-feedback-for="reservation-amount"></div>

      <fieldset>
        <legend class="form-step-header">Which table would you like to join?</legend>

        <p>
          You can reserve a private table if you reserve for 5 or more people. Smaller groups can join our large shared
          table.
        </p>

        <select data-input-controller="SelectRadioList" name="table">
          <option selected value="shared">Large shared table</option>
          <option data-tag="5 or more people" value="own">Private table</option>
        </select>
      </fieldset>

      <div data-field-feedback-for="table"></div>

      <!-- the start time is fixed to 19:00. hide the input -->
      <!--
      <template data-template-id="shared-table-start-time">
        <p class="warning">
          Please arrive between 19:00 and 19:15
        </p>
      </template>

      <template data-template-id="start-time-input">
        <fieldset>
          <legend class="form-step-header">Which time would you like to start?</legend>

          <select data-input-controller="SelectRadioList" name="start-time">
            <option value="19:00">19:00</option>
            <option value="19:30">19:30</option>
            <option value="20:00">20:00</option>
          </select>
        </fieldset>
      </template>
      -->
      <input type="hidden" name="start-time" value="19:00" />

      <div data-field-feedback-for="start-time"></div>

      <fieldset>
        <legend class="form-step-header">Dietary preferences</legend>

        <p class="form-step-subheader">
          How many people have a vegetarian or a vegan diet?
        </p>

        <div class="number-with-steppers-wrapper">
          <label for="input-vegan-amount">Vegan</label>
          <input data-input-controller="NumberWithSteppers" id="input-vegan-amount" max="20" min="0" name="vegan-amount"
            required size="2" step="1" type="number" value="0">
        </div>

        <div class="number-with-steppers-wrapper">
          <label for="input-vegetarian-amount">Vegetarian</label>
          <input data-input-controller="NumberWithSteppers" id="input-vegetarian-amount" max="20" min="0"
            name="vegetarian-amount" required size="2" step="1" type="number" value="0">
        </div>

        <div class="number-with-steppers-wrapper">
          <label for="input-nopref-amount">No vegan or vegetarian diet</label>
          <input data-input-controller="NumberWithSteppers" disabled id="input-nopref-amount" max="99" min="0"
            name="nopref-amount" required size="2" step="1" type="number" value="0">
        </div>

        <div data-field-feedback-for="vegan-amount"></div>
        <div data-field-feedback-for="vegetarian-amount"></div>
        <div data-field-feedback-for="nopref-amount"></div>

        <label class="form-step-subheader" for="input-additional-diet">
          Does anyone in your group have any other allergies or dietery preferences?
        </label>

        <p>
          Please also tell us about the severity of your allergies. Is special food enough or are more precautions
          necessary?
        </p>

        <textarea id="input-additional-diet" maxlength="300" name="additional-diet"
          placeholder="Describe dietary preferences and allergies here"></textarea>

        <div data-field-feedback-for="additional-diet"></div>
      </fieldset>

      <fieldset>
        <legend class="form-step-header">COVID-19 tests</legend>

        <p>
          Each visitor of TestTafel has to show an
          <a href="https://coronacheck.nl/en/" target="_blank">official
            corona proof from the CoronaCheck app</a>
          or bring a
          <strong>physical</strong>
          negative self-test. Alternatively, we sell tests at the door for 2 euros a piece.
        </p>

        <p class="form-step-subheader">
          For how many people would you like to purchase a self-test?
        </p>

        <div class="number-with-steppers-wrapper">
          <label class="wide" for="input-test-amount">Purchase a test at the door</label>
          <input data-input-controller="NumberWithSteppers" id="input-test-amount" max="20" min="0" name="test-amount"
            required size="2" step="1" type="number" value="0">
        </div>

        <div class="number-with-steppers-wrapper">
          <label class="wide" for="input-notest-amount">Bring physical self-test or
            <a href="https://coronacheck.nl/en/" target="_blank">CoronaCheck proof</a>
          </label>
          <input data-input-controller="NumberWithSteppers" disabled id="input-notest-amount" max="20" min="0"
            name="notest-amount" required size="2" step="1" type="number" value="0">
        </div>
      </fieldset>

      <div data-field-feedback-for="test-amount"></div>
      <div data-field-feedback-for="notest-amount"></div>

      <fieldset>
        <legend class="form-step-header">Contact info</legend>

        <label class="form-step-subheader" for="input-email">What is your email? (we will send you a confirmation
          here)</label>

        <input id="input-email" name="email" placeholder="Email" required type="email" maxlength="200">

        <div data-field-feedback-for="email"></div>

        <label class="form-step-subheader" for="input-phone-number">What is your phone number?</label>

        <p>
          We will contact you by phone if we have questions about your reservation (for example,
          about allergies) or to message you when a spot opens up for our waiting list.
        </p>

        <input id="input-phone-number" name="phone-number" placeholder="Telefoonnummer" type="tel">

        <div data-field-feedback-for="phone-number"></div>

        <p class="form-step-subheader">
          Would you like us to update you about TestTafel and other projects of De Sering?
        </p>

        <p>
          Select this option if you want to receive our monthly email newsletter. Alternatively, you can stay in touch
          through our Instagram
          <a href="https://instagram.com/testtafel" target="_blank">@testtafel</a>
          or our
          <a href="https://chat.whatsapp.com/C2fIG6POV8FH0nVQcW3hKs" target="_blank">WhatsApp broadcast
            group</a>
        </p>

        <input id="checkbox-consent-email-contact" name="consent-email-contact" type="checkbox">

        <label for="checkbox-consent-email-contact">Yes, keep me posted through email</label>

        <div data-field-feedback-for="consent-email-contact"></div>
      </fieldset>

      <fieldset class="submit-section">
        <p class="warning">
          <strong>Please note:</strong> Your reservation is only valid after a confirmation email
        </p>
        <button class="button" type="submit">place reservation</button>
      </fieldset>
    </form>

    {% capture contact_info %}
    contact us directly by messaging or calling
    <a href="tel:0031616870053">+31616870053</a>
    or sending an email to
    <a href="mailto:testtafel@desering.org">testtafel@desering.org</a>
    {% endcapture %}

    {% capture alternatives %}
    <p>
      If you are unable to complete the reservation form, you can also {{ contact_info }}
    </p>

    <p>
      Reservations can be made for the following TestTafel editions:
    </p>
    <ul>
      {% for event in site.data.testtafels %}
      {% comment %}
      68400 = 19 hours (for 19:00 start time)
      {% endcomment %}
      {% assign unix_event = event.date | date: "%s" | plus: 68400 %}
      {% assign unix_now = "now" | date: "%s" | times: 1 %}

      {% if unix_event > unix_now %}
      {% unless event.fullyBooked %}

      <li>
        {{ event.date | date: "%A, %B %e %Y" }}
      </li>
      {% endunless %}
      {% endif %}
      {% endfor %}
    </ul>
    {% endcapture %}

    <noscript>
      <div class="noscript">
        <p>
          To make a reservation through this website you have to enable javascript in your browser. Please enable
          javascript to continue.
        </p>

        {{ alternatives }}
      </div>
    </noscript>

    <div id="fatal-form-error">
      <p>
        Sorry, something broke in our reservation form.
      </p>

      {{ alternatives }}

      <pre></pre>
    </div>

    <template data-template-id="success">
      <div>
        <p>
          Thank you for your reservation. You will hear from us over email as soon as possible.
        </p>
        <p class="warning">
          <strong>Please note:</strong> Your reservation is only valid after a confirmation email!
        </p>
      </div>
    </template>

    <template data-template-id="no-dates">
      <div>
        <p>
          There are no TestTafel editions that are open for reservations at the moment. Please come back later!
        </p>

        <p>
          For questions you can {{ contact_info }}
        </p>
      </div>
    </template>
  </div>
</div>
