[data-input-controller="SelectRadioList"] {
  /* set to display: block on mobile */
  display: none;
}

.select-radio-list {
  label {
    display: block;
    cursor: pointer;
    padding: 0 0 0 2.2rem;
    overflow: hidden;
    position: relative;
    line-height: 2.3rem;

    &:before {
      box-sizing: border-box;
      content: " ";
      display: block;
      position: absolute;
      top: 50%;
      left: 0.2rem;
      width: 1.3rem;
      height: 1.3rem;
      transform: translate(0, -50%);
      border: 2px solid var(--color-dark);
      background: var(--color-white);
      transition: background 0.3s ease-out;
    }
  }

  input:checked + label {
    font-weight: bold;

    &:before {
      background: var(--color-dark);
    }
  }

  input:disabled + label {
    color: #666;
    text-decoration: line-through;

    &:before {
      border-color: #ddd;
      background: var(--color-white);
    }
  }

  input[type="radio"] {
    display: block;
    visibility: hidden;
    width: 0;
    height: 0;
  }

  .tag {
    display: inline-block;
    margin: 0 0 0 1rem;
    line-height: 2rem;
    padding: 0 0.5rem;
    background: var(--color-white);
    color: var(--color-dark);
    font-weight: bold;

    &.special {
      background: var(--color-black);
      color: var(--color-special);
      text-transform: lowercase;
    }
  }

  &.boxed {
    background: var(--color-dark-bg);
    color: var(--color-dark-text);

    padding: 0.4rem 1rem;
    
    label {
      line-height: 3rem;

      &:not(:last-child) {
        border-bottom: 1px solid var(--color-white);
      }

      &:before {
        border: 2px solid var(--color-white);
        background: var(--color-dark);
      }
    }

    input:checked + label:before {
      background: var(--color-white);
    }
  }
}

@media only screen and (max-width: 62rem) {
  [data-input-controller="SelectRadioList"] {
    display: block;

    width: 100%;
    padding: var(--input-padding);
  }

  .select-radio-list {
    display: none;
  }
}
