input[type="text"],
input[type="email"],
input[type="tel"] {
  width: 100%;
  display: block;
  border: 2px solid transparent;
  border-bottom: 2px solid var(--purple);
  padding: var(--input-padding);
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
input[type="number"]:focus {
  outline: none;
  border-color: var(--pink);
}

input[type="checkbox"] {
  width: 0;
  height: 0;
  visibility: hidden;
  display: block;

  & + label {
    cursor: pointer;
    padding: 2rem 0 2rem 2rem;
    overflow: hidden;
    position: relative;
    // line-height: 3rem;
    display: inline-block;
    line-height: 1.4;
  }

  & + label:before {
    box-sizing: border-box;
    content: " ";
    display: block;
    position: absolute;
    top: 50%;
    left: 0;
    width: 1.3rem;
    height: 1.3rem;
    transform: translate(0, -50%);
    border: 2px solid var(--purple-dark);
    background: var(--purple-white);
    transition: background 0.3s ease-out;
  }

  &:checked + label:before {
    background: var(--purple-dark);
  }
}

textarea {
  width: 100%;
  resize: none;
  padding: 1rem;
  border: 2px solid var(--purple);
  border-radius: 5px;
  outline: none;
  color: var(--purple-dark);
}
