---
title: De Sering
layout: default
language: nl
description: 'Buurtkeuken De Sering in Amsterdam: Elke dinsdag samen eten, voor €2,50'
translation: home
---


<div class="row">
	<div class="container">
		<h1>Buurtkeuken De Sering</h1>

		<p>
			Elke dinsdag serveren we twee veganistische gangen voor een gesuggereerde donatie van €2.50-€5.00. Iedereen
			is tussen 18:30 en 21:30 welkom bij NieuwLand (Pieter Nieuwlandstraat 93). Om zeker te zijn dat we genoeg
			plek hebben om corona veilig samen te komen vragen we iedereen een reservering te maken.
		</p>

		<a class="button" href="https://forms.gle/9KQGSmziqSEBLao77">Maak een reservering</a>
	</div>
</div>

<!-- <div class="row">
	<div class="container-wide">
		<div class="agenda">
			<h3>Agenda</h3>

			{% for event in site.data.events %}

				{% unless prev.date == event.date %}

					{% assign weekday = event.date | date: "%u" | minus: 1 %}
					{% assign day = event.date | date: "%e" %}
					{% assign month = event.date | date: "%-m" | minus: 1 %}
					{% assign year = event.date | date: "%Y" %}

					<h4>{{ site.data.i18n.weekdays-nl[weekday] | capitalize }} {{ day }} {{ site.data.i18n.months-nl[month] }} {{ year }}</h4>

				{% endunless %}

				<div class="event">
					<span class="event-desc">
						{{ event.description-nl }}
						{% if event.xr %}
							<a href="https://extinctionrebellion.nl">(Extinction Rebellion)</a>
						{% endif %}
					</span>
					<span class="event-details">
						{% if event.fb-url %}
						<a class="event-fb" href="{{ event.fb-url }}"></a>
						{% endif %}
						<span class="event-time">{{ event.time }}</span>
					</span>
				</div>

			{% assign prev = event %}
			{% endfor %}

		</div>

	</div>
</div> -->

<div class="row">
	<div class="container">
		<h3>Meehelpen?</h3>
		<p>
			Wil je De Sering helpen? We hebben altijd meer hulp nodig met koken, bouwen en schoonmaken. Ook kunnen we
			alle hulp gebruiken bij onze zoektocht naar een eigen locatie. Voor meer informatie, zie de onderstaande
			link.
		</p>

		<a class="button" href="meehelpen.html">Help De Sering mogelijk maken</a>

		<img src="/img/sering.png" />

		<h3>TestTafel</h3>

		<p>
			Ga naar <a href="/testtafel">deze pagina</a> voor informatie over ons pop-up restaurant TestTafel.
		</p>

		<h3>Contact</h3>

		<p><a href="mailto:info@desering.org">info@desering.org</a></p>

		<p><a href="tel:0031616870053">0616870053</a></p>
	</div>
</div>
