{% assign i18n = site.data.i18n.header[page.language] %}
<header class="main-header">
  <div>
    <h1>
      {% if page.language == 'en' %}
      <a href="{% link en/index.html %}">De Sering</a>
      {% else %}
      <a href="{% link index.html %}">De Sering</a>
      {% endif %}
    </h1>

    <button class="menu-expand-button menu-button">
      <span>{{ i18n["main-menu"] }}</span>

      <div class="chevron"></div>
    </button>

    <nav class="main-nav">
      <ul>
        {% for item in site.data["main-menu"][page.language] %}
          {% assign item_page = site.pages | where: "path", item | first %}
          <li{% if item_page["main-menu-type"] %} class="special"{% endif %}><a {% if item_page.url == page.url %}class="current"{% endif %} href="{{ item_page.url }}">{{ item_page["main-menu"] }}</a></li>
        {% endfor %}
      </ul>

      {% assign translation_link = "" %}
  
  
      {% if page.translation %}
      {% assign translation_link = page.translation %}
      {% endif %}
  
      {% if page.language == 'en' %}
      <a href="/{{ translation_link }}?lang=nl" class="translation-link menu-button">Nederlands</a>
      {% else %}
      <a href="/en/{{ translation_link }}?lang=en" class="translation-link menu-button">English</a>
      {% endif %}
    </nav>
  </div>
</header>
