<a href="{{ include.continueHref }}" class="home-link">{{ include.continueText }}</a>

<h1>De Sering</h1>


<div class="free caps">
  <div class="highlight">
    <div class="clone" aria-hidden="true">
      Opening Party
    </div>
    <div class="base">
      Opening Party
    </div>
  </div>
</div>

<a href="{{page.translation}}?lang=nl" class="locale-link">deze pagina in nederlands</a>

<p class="description lead first">
  Thank you to everyone who came out to our opening event. We were overwhelmed with all the kind people, the great dance moves and all the kind words about our space.
</p>

<p class="description lead">
  The opening of De Sering, along with the opening party, wouldn't have been possible without the help of many volunteers. Thank you to all the people who took some time out of their busy schedules to help us out, and a double thank you to those who volunteered many days for construction work.
</p>

<p class="description lead">
  If you like to visit us again or want to get involved, you can find some info further down this page. 👇
</p>

<p class="description end sign-off">
  We hope to see you again soon!
</p>

<p class="description end name">
  Floris from De Sering
</p>


<div>
  <h3 class="caps tiled tiled-1">
    <span class="clone" aria-hidden="true">
      <span class="clone-bg"></span>
      <span class="clone-text">Want to visit De Sering?</span>
    </span>
    <span class="base">
      Want to visit De Sering?
    </span>
  </h3>
</div>
<p class="description">
  Our People's Kitchen is open every Tuesday evening. Here you can have a vegan two course meal for a suggested donation of €2.50 - €5.00 . Whether you want to meet up with friends, or just don't feel like cooking your own meal tonight: please feel welcome at our dinner table. Keep an eye on our website and socials, because we will be open more days of the week in the future!
</p>

<p class="description">
  Our experimental restaurant TestTafel serves a new seven-course menu every week on Fridays and Saturdays. <a href="/en/testtafel/home">See here for more info and reservations. </a>
</p>

<div>
  <h3 class="caps tiled tiled-2">
    <span class="clone" aria-hidden="true">
      <span class="clone-bg"></span>
      <span class="clone-text">Your event at De Sering?</span>
    </span>
    <span class="base">
      Your event at De Sering?
    </span>
  </h3>
</div>

<p class="description">
 Do you want to organize a public event that could use a space like De Sering? You can use our space for free! 
</p>

<p class="description">
 Whether you have an idea for a workshop, you need a place for good music or you want to use our kitchen to cook something special for people: we are looking forward to your ideas. 
</p>

<p class="description final">
  Get in touch with us at <a href="mailto:info@desering.org">info@desering.org</a>
</p>
