<a href="{{ include.continueHref }}" class="home-link">{{ include.continueText }}</a>

<h1>De Sering</h1>

<h2 class="caps">Opening Party</h2>

<ul class="details">
  <li>Friday May 27th</li>
  <li>14:00 - 03:00</li>
  <li><a href="https://goo.gl/maps/UUsJ3BFuH7nLtnKC9" target="_blank">Rhoneweg 6</a></li>
</ul>

<div class="free caps">
  <div class="highlight">
    <div class="clone" aria-hidden="true">
      Free entry
    </div>
    <div class="base">
      Free entry
    </div>
  </div>
</div>

{{ include.lead }}

<section>
  <div>
    <h3 class="caps tiled tiled-1">
      <span class="clone" aria-hidden="true">
        <span class="clone-bg"></span>
        <span class="clone-text">Program</span>
      </span>
      <span class="base">
        Program
      </span>
    </h3>
  </div>

  <div class="program-wrapper">
    <section class="program-section program-section-music">
      <div>
        <h4 class="outlined">
          <span>Music</span>
        </h4>
      </div>

      <table class="program-table">
        <tr>
          <td>18:00 - 19:00</td>
          <td>
            Blue Dog
          </td>
        </tr>
        <tr>
          <td>20:30 - 21:30</td>
          <td>
            Eckhardt and the House
          </td>
        </tr>
        <tr>
          <td>22:00 - 23:00</td>
          <td>
            Mungo Bungo
          </td>
        </tr>
        <tr>
          <td>23:00 - 03:00</td>
          <td>
            DJs (TBA)
          </td>
        </tr>
      </table>
    </section>

    <section class="program-section program-section-food">
      <div>
        <h4 class="outlined">
          <span>Food and drinks</span>
        </h4>
      </div>

      <table class="program-table program-table-food">
        <tr>
          <td>Bar opens at 14:00</td>
        </tr>
        <tr>
          <td>Cheap and tasty food by De Sering</td>
        </tr>
        <tr>
          <td>Pizza by <a href="https://www.piccoloforno.net/" target="_blank">Picollo Forno Vinz</a></td>
        </tr>
      </table>
    </section>

    <section class="program-section program-section-activities">
      <div>
        <h4 class="outlined">
          <span>Activities</span>
        </h4>
      </div>

      <table class="program-table">
        <tr class="note">
          <td colspan="2">(times subject to change)</td>
        </tr>
        <tr>
          <td>15:00 - 17:00</td>
          <td>
            T-shirt stamping
          </td>
        </tr>
        <tr>
          <td>16:30 - 18:00</td>
          <td>
            Macramé workshop
          </td>
        </tr>
        <tr>
          <td>15:00 - 17:00</td>
          <td>
            Guerilla Repair
          </td>
        </tr>
        <tr>
          <td>17:00 - 18:00</td>
          <td>
            Toxic Rave workshop
          </td>
        </tr>
        <tr>
          <td colspan="2">
            <span class="highlight more-contrast">
              <span class="clone" aria-hidden="true">
                more announcements soon
              </span>
              <span class="base">
                more announcements soon
              </span>
            </span>
          </td>
        </tr>
      </table>
    </section>
  </div>
</section>

<section>
  <div>
    <h3 class="caps tiled tiled-3">
      <span class="clone" aria-hidden="true">
        <span class="clone-bg"></span>
        <span class="clone-text">Opening De Sloot</span>
      </span>
      <span class="base">
        Opening De Sloot
      </span>
    </h3>
  </div>

  <p>
    Our new location is located on the grounds of <a href="https://desloot.nl/" target="_blank">theater incubator De Sloot</a>.
    Along with De Sering, De Sloot will have their grand opening in the form of a 2-day theater festival. 
  </p>

  <section>
    <div>
      <h4 class="outlined">
        <span>Thursday May 26th</span>
      </h4>
    </div>

    <p>
      The first day of the opening of De Sloot. For some shows you must pay a contribution that will directly benefit 
      the creators. For more information and the program visit <a href="https://desloot.nl/"
        target="_blank">desloot.nl</a>
    </p>

    <p>
      Our expirimental restaurant TestTafel will provide dinner on this day. In order to join, a reservation is required.
      You can do that through <a href="{% link en/openingparty.html %}">this form</a> on our website.
    </p>

  </section>

  <section>
    <div>
      <h4 class="outlined">
        <span>Friday May 27th</span>
      </h4>
    </div>

    <p>
      The grand opening of De Sloot will continue with more theater. These shows will be at the same time as the 
      opening of De Sering.
    </p>

    <p>
      It's possible to visit both the shows at De Sloot and De Sering opening party. Just keep in mind that
      some theater shows require a sign-up in advance. Check <a href="https://desloot.nl/"
      target="_blank">desloot.nl</a> for details.
    </p>

    <p>
      The full program of De Sering is freely accessible without sign-up.
    </p>

  </section>
</section>

<section>
  <div>
    <h3 class="caps tiled tiled-4">
      <span class="clone" aria-hidden="true">
        <span class="clone-bg"></span>
        <span class="clone-text">Practical info</span>
      </span>
      <span class="base">
        Practical info
      </span>
    </h3>

    <p>
      Here are all the practical details you need to know:
    </p>

    <ul class="practical-info-list">
      <li>
        The grand opening of theater incubator De Sloot is on the 26th and 27th of May 
        <ul>
          <li>For the full program and sign-up see <a href="https://desloot.nl/">desloot.nl</a></li>
          <li>Go <a href="{% link en/openingparty.html %}">here</a> to make a reservation for TestTafel on May 26th</li>
        </ul>
      </li>
      <li>
        The opening of De Sering is on May 27th
        <ul>
          <li>We will open at 14:00 and close at 03:00</li>
          <li>Entry is free, no sign-up is required</li>
        </ul>
      </li>
      <li>
        Our address is <a href="https://goo.gl/maps/UUsJ3BFuH7nLtnKC9" target="_blank">Rhoneweg 6</a> in Amsterdam. This is
        within walking distance of Amsterdam Sloterdijk train station.
      </li>
    </ul>
  </div>
</section>

<div class="end-home-link">
  <a href="{{ include.continueHref }}">{{ include.continueTextFooter }}</a>
</div>
