<a href="{{ include.continueHref }}" class="home-link">{{ include.continueText }}</a>

<h1>De Sering</h1>


<div class="free caps">
  <div class="highlight">
    <div class="clone" aria-hidden="true">
      Openingsfeest
    </div>
    <div class="base">
      Openingsfeest
    </div>
  </div>
</div>
<a href="{{page.translation}}?lang=en" class="locale-link">this page in english</a>

<p class="description lead first">
  Bedankt aan iedereen die naar ons openingsfeest is gekomen. We zijn overweldigd door de geweldige sfeer, jullie uitstekende danspasjes en al jullie lieve woorden over onze ruimte. 
</p>

<p class="description lead">
  De opening van De Sering en ons openingsfeest was niet mogelijk geweest zonder de hulp van vele betrokkenen. Dank aan alle mensen die wat tijd hebben vrijgemaakt in hun volle agenda's om ons te helpen, en dubbel bedankt voor degenen die vele dagen vrijwillig aan de verbouwing hebben gewerkt.
</p>

<p class="description lead">
  Als je terug wilt komen of verder betrokken wilt raken bij De Sering, kan je verderop deze pagina meer info vinden. 👇
</p>

<p class="description end sign-off">
  We hopen jullie snel terug te zien!
</p>

<p class="description end name">
  Floris van De Sering
</p>


<div>
  <h3 class="caps tiled tiled-1">
    <span class="clone" aria-hidden="true">
      <span class="clone-bg"></span>
      <span class="clone-text">Bezoek De Sering</span>
    </span>
    <span class="base">
      Bezoek De Sering
    </span>
  </h3>
</div>
<p class="description">
  Onze Volkskeuken is elke dinsdagavond open. Hier kan je een vegan tweegangenmaaltijd eten voor een gesuggereerde donatie van €2,50 - €5,00. Of je nou een plek zoekt om met vrienden te eten, of je hebt gewoon geen zin om vanavond zelf je avondeten te koken: je bent welkom aan onze eettafel! Hou onze website en socials in de gaten, want we zullen in de toekomst meer dagen in de week open zijn!
</p>

<p class="description">
  Ons experimenteel restaurant TestTafel serveert elke week een nieuw zevengangenmenu op vrijdagen en zaterdagen. <a href="/testtafel/home">Zie hier voor meer info en reserveringen.</a>
</p>

<div>
  <h3 class="caps tiled tiled-2">
    <span class="clone" aria-hidden="true">
      <span class="clone-bg"></span>
      <span class="clone-text">Jouw activiteit bij De Sering?</span>
    </span>
    <span class="base">
      Jouw activiteit bij De Sering?
    </span>
  </h3>
</div>

<p class="description">
  Wil je een publiek toegankelijk evenement organiseren en heb je nog ruimte nodig? Je kan onze ruimte gratis gebruiken!
</p>

<p class="description">
  Heb je een idee voor een workshop? Ruimte nodig voor goede muziek? Wil je onze keuken gebruiken om iets speciaals te koken voor mensen? We kijken uit naar al jullie ideeën.
</p>

<p class="description final">
  Neem contact op via <a href="mailto:info@desering.org">info@desering.org</a>
</p>
