<a href="{{ include.continueHref }}" class="home-link">{{ include.continueText }}</a>

<h1>De Sering</h1>

<h2 class="caps">Openingsfeest</h2>

<ul class="details">
  <li>Vrijdag 27 mei</li>
  <li>14:00 - 03:00</li>
  <li><a href="https://goo.gl/maps/UUsJ3BFuH7nLtnKC9" target="_blank">Rhoneweg 6</a></li>
</ul>

<div class="free caps">
  <div class="highlight">
    <div class="clone" aria-hidden="true">
      Gratis toegang
    </div>
    <div class="base">
      Gratis toegang
    </div>
  </div>
</div>

<!-- <p>Join us in celebrating the opening of 300m2 of community space. Expect good vibes, workshops and delicious food. Including pizza by special guest Picollo Forno Vinz 
  and music by:</p> -->

{{ include.lead }}

<section>
  <div>
    <h3 class="caps tiled tiled-1">
      <span class="clone" aria-hidden="true">
        <span class="clone-bg"></span>
        <span class="clone-text">Programma</span>
      </span>
      <span class="base">
        Programma
      </span>
    </h3>
  </div>

  <div class="program-wrapper">
    <section class="program-section">
      <div>
        <h4 class="outlined">
          <span>Muziek</span>
        </h4>
      </div>

      <table class="program-table">
        <tr>
          <td>18:00 - 19:00</td>
          <td>
            <a href="#">
              Blue Dog
            </a> (dinner concert)
          </td>
        </tr>
        <tr>
          <td>20:30 - 21:30</td>
          <td>
            <a href="#">
              Eckhardt and the House
            </a>
          </td>
        </tr>
        <tr>
          <td>22:00 - 23:00</td>
          <td>
            <a href="#">
              Mungo Bungo
            </a>
          </td>
        </tr>
        <tr>
          <td>23:00 - 03:00</td>
          <td>
            DJs (to be announced)
          </td>
        </tr>
      </table>
    </section>

    <section class="program-section">
      <div>
        <h4 class="outlined">
          <span>Eten</span>
        </h4>
      </div>

      <table class="program-table program-table-food">
        <tr>
          <td>Goedkoop en lekker eten van De Sering</td>
        </tr>
        <tr>
          <td>Pizza door <a href="https://www.piccoloforno.net/" target="_blank">Picollo Forno Vinz</a></td>
        </tr>
      </table>
    </section>

    <section class="program-section">
      <div>
        <h4 class="outlined">
          <span>Activiteiten</span>
        </h4>
      </div>

      <table class="program-table">
        <tr>
          <td>16:00</td>
          <td>
            T-shirts stempelen
          </td>
        </tr>
        <tr>
          <td>16:30</td>
          <td>
            Macramé workshop
          </td>
        </tr>
        <tr>
          <td colspan="2" class="note">
            <span class="highlight more-contrast">
              <span class="clone" aria-hidden="true">
                binnenkort meer aankondigingen
              </span>
              <span class="base">
                binnenkort meer aankondigingen
              </span>
            </span>
          </td>
        </tr>
      </table>
    </section>
  </div>
</section>

<section>
  <div>
    <h3 class="caps tiled tiled-3">
      <span class="clone" aria-hidden="true">
        <span class="clone-bg"></span>
        <span class="clone-text">Opening De Sloot</span>
      </span>
      <span class="base">
        Opening De Sloot
      </span>
    </h3>
  </div>

  <p>
    De nieuwe locatie van De Sering bevindt zich op het terrein van theaterbroedplaats De Sloot. De Sloot zal hun opening
    vieren met een 2-daags festival vol theater, tegelijkertijd met de opening van De Sering.
  </p>

  <section>
    <div>
      <h4 class="outlined">
        <span>Donderdag 26 mei</span>
      </h4>
    </div>

    <p>
      De eerste dag van de opening van De Sloot. Voor sommige voorstellingen betaal je een bescheiden bijdrage die
      direct naar de makers gaat. Ga voor meer informatie en het programma naar <a href="https://desloot.nl/"
        target="_blank">desloot.nl</a>
    </p>

    <p>
      Ons experimenteel restaurant TestTafel zal deze dag het eten verzorgen. Hiervoor moet je wel even reserveren. Dat
      kan via <a href="{% link openingsfeest.html %}">dit formulier</a> op onze website.
    </p>

  </section>

  <section>
    <div>
      <h4 class="outlined">
        <span>Vrijdag 27 mei</span>
      </h4>
    </div>

    <p>
      Op deze dag zijn er opnieuw theater-activiteiten als onderdeel van de opening van De Sloot. Dit zal tegelijkertijd
      zijn met de opening van De Sering op hetzelfde terrein.
    </p>

    <p>
      Het is mogelijk om zowel naar voorstellingen van De Sloot te gaan als het openingsfeest van De Sering. Hou er wel
      rekening mee dat je voor sommige voorstellingen van tevoren moet aanmelden. Zie <a href="https://desloot.nl/"
        target="_blank">desloot.nl</a> voor meer details.
    </p>

    <p>
      Het volledige programma van De Sering is gratis toegankelijk zonder aanmelding.
    </p>

  </section>
</section>

<section>
  <div>
    <h3 class="caps tiled tiled-4">
      <span class="clone" aria-hidden="true">
        <span class="clone-bg"></span>
        <span class="clone-text">Praktische info</span>
      </span>
      <span class="base">
        Praktische info
      </span>
    </h3>

    <p>
      Hier nogmaals even alle praktische info op een rij:
    </p>

    <ul class="practical-info-list">
      <li>
        Op 26 en 27 mei is de opening van theaterbroedplaats De Sloot
        <ul>
          <li>Voor het programma en aanmelden zie <a href="https://desloot.nl/">desloot.nl</a></li>
          <li>Reserveer <a href="{% link openingsfeest.html %}">hier</a> voor het testtafel diner op 26 mei</li>
        </ul>
      </li>
      <li>
        Op 27 mei is het openingsfeest van De Sering
        <ul>
          <li>We zijn open vanaf 14:00 en sluiten om 03:00</li>
          <li>Toegang is gratis, aanmelden is niet nodig</li>
        </ul>
      </li>
      <li>
        Ons adres is <a href="https://goo.gl/maps/UUsJ3BFuH7nLtnKC9" target="_blank">Rhoneweg 6</a> in Amsterdam. Dit is op loopafstand van Station Sloterdijk.
      </li>
    </ul>
  </div>
</section>

<div class="end-home-link">
  <a href="{{ include.continueHref }}">{{ include.continueTextFooter }}</a>
</div>
