{% assign endpoint = include.endpoint | default: "https://script.google.com/macros/s/AKfycbzTfI6vr5VvVqATARmiKolmzJPca5sEc5ZnRBiC475x02vXZCGzSGtm1e5TB1W8UJ_R/exec" %}
{% assign noConfirm = include.noConfirm | default: false %}
{% assign eventsData = include.eventsData | default: site.data.testtafels %}

<div class="row">
  <div class="container">

    <svg xmlns="http://www.w3.org/2000/svg" class="testtafel-symbol" viewBox="0 0 133.69396 70.47318">
      <path d="M122.50844,11.45321v15.7901c1.0528,1.4629,2.0625,2.9599,3,4.5058V8.45321H7.84244V31.753c.9375-1.5468,1.9473-3.0429,3-4.5068v-15.793Z"/>
      <path d="M58.46454,5.09091a61.06273,61.06273,0,0,1,16.4238,0h13.0694a65.48355,65.48355,0,0,0-42.5635,0Z"/>
      <path d="M.92642,67.28621c0,.62293.01087,1.24335.0282,1.86212H3.9567c-.01813-.61877-.03028-1.239-.03028-1.86212A62.75159,62.75159,0,0,1,33.44986,14.0909h-5.3515A65.69153,65.69153,0,0,0,.92642,67.28621Z"/>
      <path d="M105.25363,14.0909H99.90207a62.75227,62.75227,0,0,1,29.52435,53.19531c0,.62311-.01214,1.24335-.03027,1.86212h3.00207c.01734-.61877.0282-1.23919.0282-1.86212A65.69228,65.69228,0,0,0,105.25363,14.0909Z"/>
      <path d="M122.50845,69.14833h3V56.92488a59.2242,59.2242,0,0,0-3-10.88665Z"/>
      <path d="M7.84244,69.14833h3V46.04311a59.25488,59.25488,0,0,0-3,10.8916Z"/>
    </svg> 

    <h1 class="testtafel">Reserveren voor TestTafel</h1>

    <form id="reservation-form" action="{{ endpoint }}">
  
      {% if include.lead %}
      {{ include.lead }}
      {% else %}
      <p class="content-already-reserved">
        Al onze TestTafel avonden zijn vanaf nu op onze nieuwe locatie, De Sering. 
        Het adres is <a href="https://goo.gl/maps/hYTqwcRNWBs7t1pL6">Rhoneweg 6</a> te Amsterdam. 
        De aanvang van het diner is 19:00
      </p>
      {% endif %}

      <input type="hidden" name="lang" value="nl" />
      <fieldset class="content-already-reserved">
        <legend class="form-step-header">Kies een editie</legend>
        <select class="boxed" data-input-controller="SelectRadioList" name="date">
          {% for event in eventsData %}
          {% comment %}
          68400 = 19 hours (for 19:00 start time)
          59400 = 16.5 hours (for 16:30 start time)
          {% endcomment %}
          {% assign unix_event = event.date | date: "%s" | plus: 59400 %}
          {% assign unix_now = "now" | date: "%s" | times: 1 %}

          {% if unix_event > unix_now %}
          {% assign weekday = event.date | date: "%u" | minus: 1 %}
          {% assign day = event.date | date: "%e" %}
          {% assign month = event.date | date: "%-m" | minus: 1 %}
          {% assign year = event.date | date: "%Y" %}

          {% assign special = site.data["testtafel-specials"][event.date] %}

          {% if event.value %}
          {% assign value = event.value %}
          {% else %}
          {% assign value = event.date %}
          {% endif %}


          <option value="{{ value }}" {% if special %} data-special="{{ special.name }}"{% if special['start-time'] %} data-start-time="{{ special['start-time'] }}"{% endif %}
            data-special-description="{{ special.description.nl }}" {% endif %}{% if event.value %} 
            data-custom-value {% endif %}{% if event.fullyBooked %}
            data-fully-booked data-tag="volgeboekt" {% else %} data-allow-default{% endif %}>
            {%- if event.name -%}
            {{ event.name.nl }}
            {%- else -%}
            {{ site.data.i18n.weekdays-nl[weekday] | capitalize }} {{ day }} {{ site.data.i18n.months-nl[month] }}
            {%- endif -%}
          </option>
          {% endif %}
          {% endfor %}
        </select>
      </fieldset>

      <template data-template-id="special-description">
        <section class="special-description content-already-reserved">
          <h4></h4>
          <div class="special-description-text"></div>
        </section>
      </template>

      <template data-template-id="already-reserved">
        <div class="content-already-reserved">
          <h3 class="form-step-header">Reservering al geplaatst</h3>
          <p>
            Het lijkt er op dat er vanaf deze computer al een reservering is geplaatst voor deze datum. Mocht je nog
            geen bevestiging hebben ontvangen, hou er rekening mee dat het even kan duren tot onze staff heeft gechecked
            of er nog genoeg plaatsen zijn.
          </p>
          <p>
            Als je vragen hebt over je reservering of je wilt iets aanpassen, stuur dan even een Whatsapp of SMS naar
            <a href="tel:0031684292366">0684292366</a>
          </p>
          <p>
            Als je een <strong>nieuwe reservering</strong> wilt maken, klik dan op de knop hieronder.
          </p>
          <button type="button" class="continue confirm-already-reserved-button">
            Plaats nog een reservering
          </button>
        </div>
      </template>

      <div data-field-feedback-for="date">
      </div>

      <template data-template-id="fully-booked">
        <p class="warning">
          <strong>Let op:</strong>
          Deze datum is volgeboekt. Je kan nog steeds een reservering plaatsen, dan zetten
          we je op de reservelijst. We berichten je als er iemand annuleert en er een plek vrijkomt.
        </p>
      </template>

      <label class="form-step-header" for="input-reservation-name">
        Onder welke naam wil je reserveren?
      </label>

      <input id="input-reservation-name" name="reservation-name" placeholder="Naam" required type="text"
        maxlength="200">

      <div data-field-feedback-for="reservation-name"></div>

      <label class="form-step-header" for="input-reservation-amount">
        Voor hoeveel mensen wil je reserven?
      </label>

      <div class="number-with-steppers-wrapper">
        <input data-input-controller="NumberWithSteppers" id="input-reservation-amount" max="20" min="1"
          name="reservation-amount" required size="3" step="1" type="number" value="1">
      </div>

      <div data-field-feedback-for="reservation-amount"></div>

      <fieldset>
        <legend class="form-step-header">Bij welke tafel wil je aanschuiven?</legend>

        <p>
          Vanaf 5 personen kan je ervoor kiezen om voor je groep een eigen tafel te reserveren. Kleinere
          groepen kunnen aanschuiven bij onze grote gedeelde tafel.
        </p>

        <select data-input-controller="SelectRadioList" name="table">
          <option selected value="shared">Grote gedeelde tafel</option>
          <option data-tag="vanaf 5 personen" value="own">Eigen tafel voor je groep</option>
        </select>
      </fieldset>

      <div data-field-feedback-for="table"></div>

      <!-- the start time is fixed to 19:00. hide the input -->
      <!--
      <template data-template-id="shared-table-start-time">
        <p class="warning">
          <string>Let op:</string>
          de aanvang voor de gedeelde tafel is tussen 19:00 en 19:15!
        </p>
      </template>

      <template data-template-id="start-time-input">
        <fieldset>
          <legend class="form-step-header">Hoe laat kunnen we je verwelkomen?</legend>

          <select data-input-controller="SelectRadioList" name="start-time">
            <option value="19:00">19:00</option>
            <option value="19:30">19:30</option>
            <option value="20:00">20:00</option>
          </select>
        </fieldset>
      </template>
      -->
      <input type="hidden" name="start-time" value="19:00" />

      <div data-field-feedback-for="start-time"></div>

      <fieldset>
        <legend class="form-step-header">Dieetvoorkeuren</legend>

        <p class="form-step-subheader">
          Hoeveel personen hebben een vegetarisch of vegan dieet?
        </p>

        <div class="number-with-steppers-wrapper">
          <label for="input-vegan-amount">Vegan</label>
          <input data-input-controller="NumberWithSteppers" id="input-vegan-amount" max="20" min="0" name="vegan-amount"
            required size="2" step="1" type="number" value="0">
        </div>

        <div class="number-with-steppers-wrapper">
          <label for="input-vegetarian-amount">Vegetarisch</label>
          <input data-input-controller="NumberWithSteppers" id="input-vegetarian-amount" max="20" min="0"
            name="vegetarian-amount" required size="2" step="1" type="number" value="0">
        </div>

        <div class="number-with-steppers-wrapper">
          <label for="input-nopref-amount">Geen vegan of vegetarisch dieet</label>
          <input data-input-controller="NumberWithSteppers" disabled id="input-nopref-amount" max="99" min="0"
            name="nopref-amount" required size="2" step="1" type="number" value="0">
        </div>

        <div data-field-feedback-for="vegan-amount"></div>
        <div data-field-feedback-for="vegetarian-amount"></div>
        <div data-field-feedback-for="nopref-amount"></div>

        <label class="form-step-subheader" for="input-additional-diet">
          Heeft iemand in je groep nog andere allergieën of dieetvoorkeuren?
        </label>

        <p>
          We horen ook graag of speciaal eten voldoende is of dat er nog andere voorzorgsmaatregelen
          noodzakelijk zijn.
        </p>

        <textarea id="input-additional-diet" maxlength="300" name="additional-diet"
          placeholder="Beschrijf hier bijzondere dieetvoorkeuren"></textarea>

        <div data-field-feedback-for="additional-diet"></div>
      </fieldset>

      <div data-field-feedback-for="test-amount"></div>
      <div data-field-feedback-for="notest-amount"></div>

      <fieldset>
        <legend class="form-step-header">Contactinformatie</legend>

        <label class="form-step-subheader" for="input-email">Wat is je email?</label>

        <input id="input-email" name="email" placeholder="Email" required type="email" maxlength="200">

        <div data-field-feedback-for="email"></div>

        <label class="form-step-subheader" required for="input-phone-number">Wat is je telefoonnummer?</label>

        {%if noConfirm %}
        <p>
          We gebruiken dit telefoonnummer alleen voor praktische communicatie met betrekking tot deze reservering.
        </p>
        {% else %}
        <p>
          We sturen je via dit telefoonnummer een bevestiging van je reservering.
        </p>
        {% endif %}

        <input id="input-phone-number" name="phone-number" placeholder="Telefoonnummer" type="tel">

        <div data-field-feedback-for="phone-number"></div>

        <p class="form-step-subheader">
          Wil je op de hoogte blijven van TestTafel en andere projecten van De Sering?
        </p>

        <p>
          Selecteer deze optie als je onze maandelijkse nieuwsbrief per e-mail wilt ontvangen. Je kunt ook op
          de
          hoogte blijven via
          <a href="https://instagram.com/testtafel" target="_blank">@testtafel</a>
          op Instagram of
          onze
          <a href="https://chat.whatsapp.com/C2fIG6POV8FH0nVQcW3hKs" target="_blank">WhatsApp broadcast
            groep</a>
        </p>

        <input id="checkbox-consent-email-contact" name="consent-email-contact" type="checkbox">

        <label for="checkbox-consent-email-contact">Ja, hou me op de hoogte via email</label>

        <div data-field-feedback-for="consent-email-contact"></div>
      </fieldset>

      <fieldset class="submit-section">
        {% unless noConfirm %}
        <p class="warning">
          <strong>Let op!</strong> Je reservering is pas geldig na een bevestigingsbericht.
        </p>
        {% endunless %}
        <button class="button" type="submit">plaats reservering</button>
      </fieldset>
    </form>

    {% capture contact_info %}
    contact met ons opnemen door te berichten of bellen met
    <a href="tel:0031684292366">0684292366</a>
    of te mailen naar
    <a href="mailto:info@testtafel.nl">info@testtafel.nl</a>
    {% endcapture %}

    {% capture alternatives %}
    <p>
      Als het niet lukt met reserveren, kan je ook direct {{ contact_info }}
    </p>

    <p>
      Reserveren is momenteel mogelijk voor deze TestTafel edities:
    </p>
    <ul>
      {% for event in eventsData %}
      {% comment %}
      68400 = 19 hours (for 19:00 start time)
      {% endcomment %}
      {% assign unix_event = event.date | date: "%s" | plus: 68400 %}
      {% assign unix_now = "now" | date: "%s" | times: 1 %}

      {% if unix_event > unix_now %}
      {% unless event.fullyBooked %}
      {% assign weekday = event.date | date: "%u" | minus: 1 %}
      {% assign day = event.date | date: "%e" %}
      {% assign month = event.date | date: "%-m" | minus: 1 %}
      {% assign year = event.date | date: "%Y" %}

      <li>
        {%- if event.name -%}
        {{ event.name.nl }}
        {%- else -%}
        {{ site.data.i18n.weekdays-nl[weekday] | capitalize }}
        {{ day }}
        {{ site.data.i18n.months-nl[month] }}
        {%- endif -%}
      </li>
      {% endunless %}
      {% endif %}
      {% endfor %}
    </ul>
    {% endcapture %}

    <noscript>
      <div class="noscript">
        <p>
          Om te reserveren via deze website moet je javascript hebben ingeschakeld in je browser.
          Schakel javascript in om verder te gaan.
        </p>

        {{ alternatives }}
      </div>
    </noscript>

    <div id="fatal-form-error">
      <p>
        Sorry, er is iets mis gegaan met het reserveringsformulier.
      </p>

      {{ alternatives }}

      <pre></pre>
    </div>

    <template data-template-id="success">
      <div>
        {% if noConfirm %}
        <p>
          Bedankt voor je reservering! We sturen je binnenkort nog een mailtje met een bevestiging. Dit kan een tijdje duren, 
          maar je kan er vanuit gaan dat je reservering sowieso geldig is.
        </p>
        {% else %}
        <p>
          Bedankt voor je reservering. We berichten je zo snel mogelijk per telefoon om je reservering te bevestigen.
        </p>
        <p class="warning">
          <strong>Let op!</strong> Je reservering is pas geldig na een bevestigingsbericht.
        </p>
        {% endif %}
      </div>
    </template>

    <template data-template-id="no-dates">
      <div>
        <p>
          Er zijn momenteel geen TestTafel edities waarvoor je kan reserveren. Probeer het later nog eens!
        </p>

        <p>
          Voor vragen kan je {{ contact_info }}
        </p>
      </div>
    </template>
  </div>
</div>
