form {
    --step-spacing: 1rem;
    --input-padding: 0.5rem;

    --color-dark-bg: var(--purple-dark);
    --color-dark-text: var(--purple-white);
}

fieldset {
  appearance: none;
  margin: 0;
  padding: 0;
  border: none;
}

.form-step-header {
  display: block;
  margin: var(--step-spacing) 0;

  font-size: 1.3rem;
  font-weight: bold;
  line-height: 1.4rem;
}

.form-step-subheader {
  display: block;
  font-weight: bold;
  margin-top: 2rem;
}

input[type="text"],
input[type="email"],
input[type="tel"] {
  width: 100%;
  display: block;
  border: 2px solid transparent;
  border-bottom: 2px solid var(--purple);
  padding: var(--input-padding);
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
input[type="number"]:focus {
  outline: none;
  border-color: var(--pink);
}
