[data-component="SelectRadioList"] {
  /* set to display: block on mobile */
  display: none;
}

.select-radio-list {
  .boxed + & {
    background: var(--color-dark-bg);
    color: var(--color-dark-text);

    padding: 0.4rem 1rem;
    margin-bottom: 1rem;
  }

  input[type="radio"] {
    display: block;
    visibility: hidden;
    width: 0;
    height: 0;
  }
}

@media only screen and (max-width: 62rem) {
  [data-component="SelectRadioList"] {
    display: block;

    width: 100%;
    padding: var(--input-padding);
  }

  .select-radio-list {
    display: none;
  }
}
