footer {
    max-width: var(--main-content-max-width);
    margin: 3rem auto 0 auto;
    padding: 0 1rem;

    ul {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: flex-start;
    }

    li {
        list-style: none;
        margin: 0;
        padding: 0;
        display: block;

        &:not(:last-child):after {
            content: '|';
            padding: 0 0.6rem;
        }
    }
}

.footer-image {
    width: 100%;
    max-width: var(--main-content-max-width);

    display: block;
    height: auto;
    margin: 1rem auto;
}
