

:root {
	--main-header-height: 3rem;
}

.mobile-select-nav {
    display: none;
}

.main-header {
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	
	width: 100%;
	height: var(--main-header-height);
	background: var(--color-dark);
	color: var(--color-white);
    
    > div {
        display: flex;
        flex-direction: row;
        height: 100%;
        width: var(--main-header-max-width);
        margin: 0 auto;
        align-items: center;
    }

    h1 {
        line-height: var(--main-header-height);
        margin: 0;
        padding: 0;
        flex: 0 0 auto;

        a {
            color: inherit;
            text-decoration: none;
            border: 0;
        }
    }

    nav {
        display: block;
        flex: 1 0 0;
        white-space: nowrap;
        height: 100%;
        
        a:hover {
            text-decoration: underline;
        }

        .special a {
            line-height: 2rem;
            padding: 0 0.5rem;
            background: var(--color-special);
            color: var(--color-black);
        }

        ul {
            display: flex;
            width: 100%;
            height: 100%;

            align-items: center;
            justify-content: space-evenly;

            list-style: none;
            padding: 0;
            margin: 0;
        }

        li {
            list-style: none;
            padding: 0;
            flex: 0 0 auto;

            &:last-child {
                margin: 0;
            }
        }
    }

    a {
        color: inherit;
        text-decoration: none;
        border: 0;
        line-height: var(--main-header-height);
        display: block;
    }

    .translation-link {
        line-height: 2rem;
        padding: 0 0.5rem;
        color: var(--color-dark);
        background: var(--color-white);
        text-transform: lowercase;
    }
}

/* 56rem === var(--main-header-max-width) */
@media (max-width: 56rem) {
    .main-header {
        position: relative;

        > div {
            padding: 0 1rem;
            justify-content: space-between;
            width: 100%;
        }
        nav{ 
            display: none;
        }
    }

    .mobile-select-nav {
        display: block;
        margin: 1rem;
        padding: 0.5rem;
        width: calc(100% - 2rem);
    }
}
