:root {
	--color-white: RGB(255, 240, 249);
	--color-light: RGB(224, 72, 162);
	--color-main: RGB(173, 12, 107);
	--color-accent: RGB(130, 0, 77);
	--color-dark: RGB(82, 0, 48);
	--color-black: RGB(33, 0, 20);

	/* specials for testtafel events */
	--color-special: #e7f427;
}
