.special-description {
    background: var(--purple-black);
    // color: var(--purple-white);

    margin: 1rem 0;
    padding: 1rem;

    h4 {
        margin: 0 0 1rem 0;
        font-weight: bold;
        font-family: 'Syne';
        color: var(--color-special);
    }

    p {
        color: var(--purple-white);
    }

    strong {
        font-weight: bold;
        color: #fff;
        text-decoration: underline;
    }
}


