<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8" />
    <meta name="description" content="{{ page.description }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>{{ page.title }}</title>

    <script type="text/javascript">
        window.location = "{{ page.target }}";
    </script>
  </head>


  <body>
    <p>
        Klik <a href="{{ page.target }}">hier</a> als je niet automatisch wordt doorgestuurd...
    </p>

    {{ content }}
  </body>
</html>
