* {
	box-sizing: border-box;
	-moz-osx-font-smoothing: grayscale;

}

body {
	background-color: var(--red-white-bg);
	font-family: var(--libre-franklin-stack);
	color: var(--red-dark);
	font-size: 18px;
	line-height: 1.6;
	margin-bottom: 4rem;
}
::selection {
	color: var(--red-white);
	background-color: var(--red-accent);
}

.row {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
.row.purple {
	background: var(--purple);
	color: var(--purple-white);
}
.row.purple a {
	border-bottom-color: var(--purple-light);
}
.row.red {
	background: var(--red-regular);
	color: var(--red-white);
}
.row.red a {
	border-bottom-color: var(--red-light);
}
.row.purple-light {
	background: var(--purple-light);
	color: var(--purple-white);
}
.row.pink a {
	border-bottom-color: var(--purple-accent);
}
.row.purple-dark {
	background: var(--purple-dark);
	color: var(--purple-white);
}
.row.purple-dark a {
	border-bottom-color: var(--purple-regular);
}
@keyframes flash {
	  0% { background-color: var(--purple-regular); }
	 49% { background-color: var(--purple-regular); }
	 50% { background-color: var(--purple-accent); }
	100% { background-color: var(--purple-accent); }
}
@keyframes flash-a {
	  0% { border-bottom-color: var(--purple-light); }
	 49% { border-bottom-color: var(--purple-light); }
	 50% { border-bottom-color: var(--purple-regular); }
	100% { border-bottom-color: var(--purple-regular); }
}
.row.flash {
	color: var(--purple-white);
	animation: flash .8s linear infinite;
}
.row.flash a {
	animation: flash-a .8s linear infinite;
}
@keyframes glow {
	  0% { background-color: var(--purple-regular);}
	100% { background-color: var(--purple-accent);}
}
@keyframes glow-a {
	  0% { border-bottom-color: var(--purple-light); }
	100% { border-bottom-color: var(--purple-regular); }
}
.row.glow {
	color: var(--purple-white);
	animation: glow .8s linear infinite alternate;
}
.row.glow a {
	animation: glow-a .8s linear infinite alternate;
}


.container {
	width: 100%;
	max-width: 40rem;
	margin-right: 1rem;
	margin-left: 1rem;
}
.container-wide {
	width: 100%;
	max-width: 50rem;
	margin-right: 1rem;
	margin-left: 1rem;
}

.top-bar-row {
	position: relative;
}

.top-bar-row .back-link {
	position: absolute;
	top: 0;
	left: 0;
	margin: 1rem;
}

.top-bar-row .back-link a {
	border-bottom: 0;
	text-decoration: none;
	color: #fff;
	width: 30px;
	height: 30px;
}

.top-bar-row .back-link svg {
	display: inline-block;
	vertical-align: middle;
	margin-top: -2px;
	margin-left: -11px;
	margin-right: -3px;
}

.top-bar-container {
	display: flex;
	flex-direction: row-reverse;
}

.top-bar-container .lang-select {
	flex: 0 0 auto;
	margin: 1rem 0;
}

h1 {
	font-family: 'Syne';
	color: var(--red-accent);
}
h1:before {
	content: '';
	background: url('../img/logo-icon.png');
	background-size: 8rem;
	width: 8rem;
	height: 8rem;
	display: block;
	margin-left: -1rem;
	margin-bottom: 1rem;
}

h1, h2, h3, h4, h5, h6 {
	line-height: 1.4;
}

h3 {
	margin-top: 2rem;
	margin-bottom: .3rem;
}
h3 ~ p {
	margin-top: 0;
}

h3.inline {
	display: inline-block;
	margin: 0 1rem 0 0;
}

p {
	text-align: justify;
	hyphens: auto;
	margin-bottom: 1rem;
}

div.call {
	background: var(--red-regular);
	padding: .5rem 0rem;
	color: var(--red-white);
	margin-bottom: 2rem;
}
p.call {
	text-align: center;
	max-width: 26rem;
	margin: 0 auto;
	font-weight: bold;
}


a {
	color: inherit;
	text-decoration: none;
	border-bottom: 2px solid var(--red-regular);
}
a.button {
	display: block;
	border: 3px solid var(--red-regular);
	color: var(--red-accent);
	font-weight: bold;
	margin: 0 auto;
	max-width: 28rem;
	margin-bottom: 2rem;
	margin-top: 2rem;
	border-radius: 10px;
	padding: 1rem;
	text-align: center;
}
a.button:hover {
	background: var(--red-regular);
	color: var(--red-white);
}

img {
	max-width: 100%;
	margin: 2rem 0;
	display: block;
}
img#logo {
	margin-top: 2rem;
	max-width: 130%;
	margin-left: -26%;
}
@media (max-width: 70rem) {
	img#logo {
		max-width: 100%;
		margin-left: initial;
	}
}
img#ingang {
	display: block;
	margin: 2rem auto;
	max-height: 80vh;
}


hr {
	max-width: 20rem;
	height: 3px;
	border: none;
	background: var(--red-light);
	margin-top: 4rem;
	margin-bottom: 4rem;
}

span.attention {
	font-weight: bold;
	color: var(--red-accent);
}

iframe {
	width: 100%;
	display: block;
	height: 90vh;
	margin-top: 2rem;
	background: var(--red-light);
	padding-top: 2rem;
	padding-bottom: 2rem;

}

.no-hyphen {
	hyphens: none;
}

li {
	margin-bottom: .7rem;
	text-align: justify;
	hyphens: auto;
	width: 95%;
	padding-left: .7rem;
}
ul, ol {
	margin-top: .7rem;
}
li ul,
li ol {
	margin-top: .3rem;
}

p + ul,
p + ol {
	margin-top: -1.5rem;
}






body.purple {
	background-color: var(--purple-white-bg);
	color: var(--purple-dark);
}
::selection {
	color: var(--purple-white);
	background-color: var(--purple-accent);
}

.purple h1 {
	color: var(--red-purple);
}
.purple h1:before {
	background-image: url('../img/logo-icon-purple.png');
}

.purple div.call {
	background: var(--purple-regular);
	color: var(--purple-white);
}

.purple a {
	border-bottom: 2px solid var(--purple-regular);
}

.purple a.button {
	border: 3px solid var(--purple-regular);
	color: var(--purple-accent);
}
.purple a.button:hover {
	background: var(--purple-regular);
	color: var(--purple-white);
}
a.button.filled {
	border: 3px solid var(--purple-accent);
	color: var(--purple-white);
	background: var(--purple);
}
a.button.filled:hover {
	border: 3px solid var(--purple-dark);
	background: var(--purple-accent);
}


.purple hr {
	background: var(--purple-light);
}

.purple span.attention {
	color: var(--purple-accent);
}

.purple iframe {
	background: var(--purple-light);
}

.agenda {
	background: var(--purple-dark);
	color: var(--purple-white);
	padding: 2rem 2rem;
	margin-top: 3rem;
}
.agenda .event {
	/*font-weight: bold;*/
	margin-bottom: .7rem;
	display: flex;
	width: 100%;
}
.event .event-desc {
	text-align: left;
	flex-grow: 1;
}
.event .event-details {
	flex-shrink: 0;
	margin-left: 1rem;
	display: flex;
}
.event .event-time {
	color: var(--purple-light);
	margin-top: auto;
}
.event .event-fb {
	border-bottom: none;
	margin-top: auto;
}
.event .event-fb:before {
	content: '';
	background: url("../img/facebook.png") no-repeat;
	background-size: cover;
	width: 1.2em;
	height: 1.2em;
	margin-bottom: .2rem;
	display: block;
	margin-right: .7rem;
	text-decoration: none;
}
.event .event-fb:hover:before {
	background-image: url("../img/facebook-white.png");
}
.agenda h3 {
	color: var(--purple-light);
	font-size: 2rem;
	font-weight: bold;
	margin-top: 0;
}
.agenda h4 {
	border-top: 3px solid var(--purple-light);
	padding-top: 1rem;
	margin-bottom: .7rem;
}

@media(max-width: 600px) {
	body {
		font-size: 16px;
	}
}

li ul li {
	margin-bottom: 0;
}

.row.banner p {
	width: 80%;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	font-size: 1.4rem;
	font-weight: bold;
}

.hidden {
	display: none;
}

.covid-policy ol {
	padding-top: 1rem;
}

/** 
 *  LANDING
 */
html.landing,
html.landing body {
	height: 100%;
	margin: 0;
}

.landing h1:before {
	display: none;
}

.landing .header-with-tooltip {
	display: block;
	margin: 0.67em 0; /* taken from h1 */
	font-size: 2em;
}

.landing .header-with-tooltip h1 {
	display: inline-block;
	margin: 0;
	position: relative;
	font-size: 1em;
}

.landing .header-with-tooltip .tooltip {
	position: absolute;
	white-space: nowrap;
	left: 100%;
	bottom: 100%;

	margin-bottom: 15px;
	margin-left: -20px;

	font-family: var(--libre-franklin-stack);
	font-size: 1rem;
	line-height: 1.6;
	background: var(--purple-dark);
	color: var(--purple-white);
	padding: 0.5rem 1rem;
}

.landing .header-with-tooltip .tooltip:before {
	content: '';
	position: absolute;
	top: 100%;
	left: 5px;

	width: 0;
	height: 0;
	border-style: solid;
	border-width: 17px 15px 0 0;
	border-color: var(--purple-dark) transparent transparent transparent;
}

.landing .wrapper {
	width: 100%;
	height: 100%;
	
	display: flex;
	flex-direction: column;
	justify-content: stretch;
	align-items: center;
}

.landing .logo {
	display: block;
	flex: 0 1 16rem;
	margin-bottom: 2rem;
}

.landing .logo img {
	width: 16rem;
	height: auto;
	margin: 0;
}

.landing .content {
	display: flex;
	flex: 0 0 auto;
	width: 100%;
	justify-content: center;

	padding: 0 3rem;
}

.landing .sering {
	margin-right: 6rem;
}

.landing .content > div {
	flex: 0 0 50%;
	max-width: 28rem;
}

.landing .footer {
	background: var(--purple-dark);
	color: var(--purple-white);
	text-align: center;
	width: 100%;
	max-width: 62rem;
}

.landing .button {
	margin: 2rem 0 1rem 0;
}

.landing .button + .button {
	margin-top: 0;
}

.landing .footer-image {
	width: 100%;
	max-width: 62rem;
}

.landing .footer-image img {
	width: 100%;
	height: auto;
	margin: 0;
}

.purple-box {
	background: var(--purple-dark);
	color: var(--purple-white);
	padding: 2rem 2rem;
	margin-top: 3rem;
}

.purple-box h3 {
	color: var(--purple-light);
	font-size: 2rem;
	font-weight: bold;
	margin-top: 0;
}

@media only screen and (max-width: 62rem) {
	.landing .logo {
		flex: 0 1 6rem;
		width: 100%;
		max-width: 40rem;

		margin: 1rem 0 -1rem 0;
	}

	.landing .logo img {
		width: 6rem;
	}

	.landing .content {
		flex-direction: column;

		align-items: center;
		padding: 0 1rem;
	}

	.landing .content > div {
		flex: 0 0 auto;
		max-width: 40rem;
	}

	.landing .sering {
		margin-right: 0;
		margin-bottom: 1rem;
		/* order: 2; */
	}

	.landing .button {
		max-width: none;
	}

	.landing .header-with-tooltip h1 {
		display: block;
	}

	.landing .header-with-tooltip .tooltip {
		position: relative;
		display: block;
		left: 0;
		bottom: 0;
		margin-bottom: 0;
		margin-left: 0;

		padding: 0;
		background: transparent;
		color: var(--purple-dark);
	}

	.landing .header-with-tooltip .tooltip:before {
		display: none;
	}
}
