---
title: TestTafel - Playlists
layout: default
language: en
stylesheets:
- playlists
permalink: :path/:basename
---



<div class="row">
  <div class="container-wide">
    <h2>TestTafel Spotify playlists</h2>

    <p>
      Every week our dish cleaner Floris compiles a new Spotify playlist to soundtrack our kitchen and bar. Featuring
      new
      music and artists you may not yet be familiar with, our playlist has got you covered. From chill tunes to ease you
      into the evening, to funky rhythms that get our staff into the groove and keeps the good food coming.
    </p>

    <p>
      You can find our playlists right here for so you can spice up your cooking at home or feed your ears something
      fresh on the go!
    </p>

    <div>
      <ol>
        {% for playlist in site.data.testtafel_playlists %}
        {% capture playlist_anchor_attributes %}href="{{ playlist.external_urls.spotify }}" target="_blank"{% endcapture
        %}

        <li>
          <div class="playlist">
            <div class="thumbnail">
              <a {{ playlist_anchor_attributes }}>
                {% assign fallback_image = playlist.images | first %}
                {% assign images_with_dimensions = playlist.images | where: "width" %}
                {% assign num_images_with_dimensions = images_with_dimensions | size %}
                <img 
                  src="{{ fallback_image.url }}" 
                  alt="Thumbnail image for {{ playlist.name }}"
                  {% if num_images_with_dimensions > 0 -%}
                  srcset="{% for image in images_with_dimensions %}{{ image.url }} {{ image.width }}w{% if forloop.rindex0 > 0 %}, {% endif %}{% endfor %}" />
                  {%- endif %}
              </a>
            </div>
            {% capture playlist_head %}
              <a {{ playlist_anchor_attributes }}>
                <h3 class="playlist-title">
                  {{ playlist.name }}
                </h3>
                <p class="track-count">{{ playlist.tracks.total }} tracks</p>
              </a>
            {% endcapture %}
            <div class="details-mobile">
              {{ playlist_head }}
            </div>
            <div class="details">
              {{ playlist_head }}

              <p class="list-artists">
                {% assign num_new_music_artists = playlist.newMusicArtists | size %}
                Featuring
                {% for artist in playlist.unpopularArtists -%}
                <span><a href="{{ artist.external_urls.spotify }}" target="__blank">{{ artist.name }}</a></span>
                {%- endfor -%}

                {% if num_new_music_artists > 0 %}
                <span class="new-music">and new music from</span>
                {% for artist in playlist.newMusicArtists -%}
                <span><a href="{{ artist.external_urls.spotify }}" target="__blank">{{ artist.name }}</a></span>
                {%- endfor -%}
                {% endif %}
              </p>
            </div>
          </div>
        </li>
        {% endfor %}
      </ol>

      <div class="spotify-attribution">
        <img src="{% link img/Spotify_Logo_RGB_Green.png %}" alt="Spotify logo" />
      </div>
    </div>
  </div>
</div>
