{% capture content %}
<div class="with-media">
  <div class="media right">
    <img
      src="/img/alex-figueira.jpg"
    />
  </div>
  <p>
    Alex Figueira (pronounced Fee - Gay - Ra) is a Venezuelan-Portuguese
    musician, producer, DJ and record collector based in Amsterdam. Known in the
    independent music circuit as "the hardest working man in Tropical music".
    He's the founder of critically acclaimed tropical psych punk outfit Fumaça
    Preta, afro-caribbean psychedelic sensation Conjunto Papa Upa, legendary
    record shop Vintage Voudou Records, tropical experimental label Music With
    Soul Records and the recently renamed Heat Too Hot music production studio
    (formerly Barracão Sound). For his solo signature recordings, Figueira
    relies on his extensive experience as a record digger and studious musician,
    to create unique blends of lesser-known genres from African, Caribbean and
    Latin origin, mixed with the vintage aesthetics of soul, funk &
    psychedelia's golden era and a forward-thinking, decidedly experimental
    approach. The songs that emanate from his relentless studio experimentation
    leave audiences with a rather unusual feeling: they believe what they've
    just heard is familiar, but at the same time, they've never heard anything
    like it.
  </p>
</div>

<h4>More info</h4>

<ul class="link-list">
  <li>
    <a href="https://www.instagram.com/alexvoudou/" target="_blank"
      >instagram</a
    >
  </li>
  <li>
    <a href="https://www.alexfigueira.com/" target="_blank"> website </a>
  </li>
</ul>
{% endcapture %} {% include opening-program/program-item.html title="Alex Figueira"
slug="alex" close="sluiten" content=content %}
