{% capture content %}
<div class="with-media">
  <div class="media right">
    <img src="https://songsoftheanthropocene.com/img/animations/walk/walk3.png" />
  </div>
  <p>
    Blue Dog writes music for a broken planet filled with fragile people. His Songs of the Anthropocene are a darkly comic
    - and sometimes just dark - journey to the recesses of human failure, and there, once in a blue moon, he encounters
    something of extraordinary beauty.
  </p>
</div>

<h4>More info</h4>

<ul class="link-list">
  <li><a href="https://songsoftheanthropocene.com/" target="_blank">website</a></li>
  <li><a href="https://www.instagram.com/songs_of_the_anthropocene/" target="_blank">instagram</a></li>
  <li><a href="https://bluedogmusic.bandcamp.com/" target="_blank">bandcamp</a></li>
</ul>
{% endcapture %}

{% include opening-program/program-item.html
  title="Blue Dog"
  slug="blue-dog"
  close="close"
  content=content %}
