{% capture content %}

<div class="with-media">
  <div class="media right">
    <img src="https://songsoftheanthropocene.com/img/animations/walk/walk3.png" />
  </div>
  <p>
    Blue Dog schrijft muziek over breekbare mensen op een gebroken aarde. Zijn Songs of the Anthropocene zijn een duister komische – en soms minder komische, maar vrijwel altijd duistere – 
    ontdekkingsreis naar de uithoeken van het menselijke falen, en heel soms treft hij daar iets aan van uitzonderlijke schoonheid.
  </p>
</div>

<h4>More info</h4>

<ul class="link-list">
  <li><a href="https://songsoftheanthropocene.com/" target="_blank">website</a></li>
  <li><a href="https://www.instagram.com/songs_of_the_anthropocene/" target="_blank">instagram</a></li>
  <li><a href="https://bluedogmusic.bandcamp.com/" target="_blank">bandcamp</a></li>
</ul>

{% endcapture %}

{% include opening-program/program-item.html
  title="Blue Dog"
  slug="blue-dog"
  close="sluiten"
  content=content %}
