{% capture content %}
<div class="with-media">
  <div class="media right ratio-16-9 mobile-full">
    <div class="media-inner">
      <iframe width="100%" height="100%" src="https://www.youtube.com/embed/M1rCS5w1YHY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
  </div>
  <p>
    Eckhardt And The House is the project by producer, singer, multi-instrumentalist and actor Rik Elstgeest.
  </p>
  <p>
    When Eckhardt And The House started they treated the listener to laid-back, easy listening, trendy nerdy and
    surprisingly accessible hipster sounds. Over the years Eckhardt And The House has developed towards a more uptempo and
    danceable indie sound but certainly didn't lose any charm. The band has been taking elements from pop to avant-garde
    to funk and twisted it all up into a signature sound with wild experimentation and disregard for the norm.
  </p>
</div>

<h4>More info</h4>

<ul class="link-list">
  <li><a href="https://open.spotify.com/artist/3gdh5nZ7enbJg9Rais1CpE?si=lGAfz5akQS-dAyvd5g_FVg" target="_blank">spotify</a></li>
  <li><a href="https://www.instagram.com/eckhardtandthehouse/" target="_blank">instagram</a></li>
</ul>
{% endcapture %}

{% include opening-program/program-item.html
  title="Eckhardt and the House"
  slug="eckhardt"
  close="close"
  content=content %}
