{% capture content %}
<p>
  Eckhardt And The House is the project by producer, singer, multi-instrumentalist and actor Rik Elstgeest.
</p>
<p>
  When Eckhardt And The House started they treated the listener to laid-back, easy listening, trendy nerdy and
  surprisingly accessible hipster sounds. Over the years Eckhardt And The House has developed towards a more uptempo and
  danceable indie sound but certainly didn't lose any charm. The band has been taking elements from pop to avant-garde
  to funk and twisted it all up into a signature sound with wild experimentation and disregard for the norm.
</p>
{% endcapture %}

{% include opening-program/program-item.html
  title="Eckhardt and the House"
  slug="eckhardt"
  close="sluiten"
  content=content %}
