{% include opening-program/blue-dog-{{ include.lang }}.html %}
{% include opening-program/mungo-bungo-{{ include.lang }}.html %}
{% include opening-program/eckhardt-{{ include.lang }}.html %}
{% include opening-program/macrame-{{ include.lang }}.html %}
{% include opening-program/manu-fica-{{ include.lang }}.html %}
{% include opening-program/guerilla-repair-{{ include.lang }}.html %}
{% include opening-program/toxic-rave-{{ include.lang }}.html %}
{% include opening-program/alex-{{ include.lang }}.html %}
