{% capture content %}
<div class="with-media">
  <div class="media right">
    <img src="/img/macrame.jpg" />
  </div>

  <p>
    <a href="https://www.instagram.com/seaofhours/" target="_blank">@seaofhours</a> will give a Macramé Workshop together
    with <a href="https://www.instagram.com/jorienl95/">@jorienl95</a>! For only a few euros you can make your own plant
    hanger with them. If you want to be assured of a spot, send a DM to <a href="https://www.instagram.com/seaofhours/" target="_blank">@seaofhours</a>
    on instagram.
  </p>

  <h4>More info</h4>
  
  <ul class="link-list">
    <li><a href="https://www.instagram.com/seaofhours/" target="_blank">instagram</a></li>
  </ul>
</div>
{% endcapture %}

{% include opening-program/program-item.html
  title="Macramé Workshop"
  slug="macrame"
  close="sluiten"
  content=content %}
