{% capture content %}
<p>
  <a href="https://www.instagram.com/seaofhours/" target="_blank">@seaofhours</a> will give a Macramé Workshop together
  with <a href="https://www.instagram.com/jorienl95/">@jorienl95</a>! For only a few euros you can make your own plant
  hanger with them. If you want to be assured of a spot, send a DM to <a href="https://www.instagram.com/seaofhours/" target="_blank">@seaofhours</a>
  on instagram.
</p>
{% endcapture %}

{% include opening-program/program-item.html
  title="Macramé Workshop"
  slug="macrame"
  close="sluiten"
  content=content %}
