{% capture content %}
<div class="with-media">
    <div class="media right">
        <img src="/img/manu-fica.jpg" />
    </div>
    <p>
      This female DJ duo will heat up De Sering with their love for music and vinyl.
      Expect a set that will get you moving, not limited by borders or genres!
    </p>
  
    <h4>More info</h4>
    
    <ul class="link-list">
      <li><a href="https://mixcloud.com/ManuFica/" target="_blank">mixcloud</a></li>
      <li><a href="https://www.instagram.com/manuficas/" target="_blank">instagram</a></li>
      <li><a href="https://www.facebook.com/manuficas" target="_blank">facebook</a></li>
    </ul>
  </div>
{% endcapture %}

{% include opening-program/program-item.html
  title="Manu Fica"
  slug="manu-fica"
  close="close"
  content=content %}
