{% capture content %}
<div class="with-media">
  <div class="media right ratio-16-9 mobile-full">
    <div class="media-inner">
      <iframe width="100%" height="100%" src="https://www.youtube.com/embed/iHaUJLEi9ps" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
  </div>

  <p>
    This high energy groove-based trio is a melting pot of cultures
   freshly squeezed and bottled into one of the sweetest nectars around.  Their music
   draws elements from Southern Africa, the Balkans and contemporary music, producing a
   variety of flavours to quench your thirst.
  </p>
</div>

<p>
  James McClure (ZA) - Trumpet & percussion <br />
  Salvoandrea Lucifora (IT) - Sousaphone <br />
  Nikos Thessalonikefs (GR) - Drums
</p>

<h4>More info</h4>

<ul class="link-list">
  <li><a href="https://soundcloud.com/user-496712991" target="_blank">soundcloud</a></li>
  <li><a href="https://www.instagram.com/mungobungomusic/" target="_blank">instagram</a></li>
</ul>
{% endcapture %}

{% include opening-program/program-item.html
  title="Mungo Bungo"
  slug="mungo-bungo"
  close="close"
  content=content %}
