{% capture content %}
<div class="with-media">
    <div class="media right ratio-16-9 mobile-full">
        <div class="media-inner">
            <iframe width="100%" height="100%" src="https://www.youtube.com/embed/pHLuGlaCHLU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>

  <p>
    Bij deze workshop kan je de Toxic System Rave oefenen en leren. Iedereen is welkom! De Toxic System Rave (zie video hiernaast) is een flashmob die XR Fashion Action regelmatig uitvoert als protest tegen de fast-fashion industrie.
  </p>

  <p>
    Hiermee schijnt XR Fashion Action een licht op hoe fast fashion bijdraagt aan het toxische systeem: bijvoorbeeld door de uitbuiting van arbeiders, het aanmoedigen van overconsumptie en de desastreuse impact die fast fashion
    heeft op het klimaat.
  </p>

  <h4>Meer over XR Fashion Action</h4>
  
  <ul class="link-list">
    <li><a href="https://www.instagram.com/xrnlfashionaction/" target="_blank">instagram</a></li>
    <li><a href="https://www.facebook.com/xrnlfashionaction" target="_blank">facebook</a></li>
  </ul>
</div>
{% endcapture %}

{% include opening-program/program-item.html
  title="Toxic Rave Workshop"
  slug="toxic-rave"
  close="sluiten"
  content=content %}
