{% capture content %}
<div class="with-media">
    <div class="media right ratio-16-9 mobile-full">
        <div class="media-inner">
            <iframe width="100%" height="100%" src="https://www.youtube.com/embed/pHLuGlaCHLU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>

  <p>
    Join this workshop to practice and learn the Toxic System Rave. Everyone is welcome! The Toxic System Rave (see video) is a flashmob that XR Fashion Action regularly performs as a protest against the fast-fashion industry.
  </p>

  <p>
    Through this performance, XR Fashion Action sheds a light on all the ways in which fast fashion contributes to the toxic system. Such as the exploitation of workers, the encouragement of overconsumption and the disastrous impact that fast fashion
    has on the climate.
  </p>

  <h4>More about XR Fashion Action</h4>
  
  <ul class="link-list">
    <li><a href="https://www.instagram.com/xrnlfashionaction/" target="_blank">instagram</a></li>
    <li><a href="https://www.facebook.com/xrnlfashionaction" target="_blank">facebook</a></li>
  </ul>
</div>
{% endcapture %}

{% include opening-program/program-item.html
  title="Toxic Rave Workshop"
  slug="toxic-rave"
  close="close"
  content=content %}
